// Here you can add other styles
@import "fonts";
@import "text";

// icon style
.icon-circle {
  border-radius: 50%;
  padding: 3px;
}
// draggable
.flip-list-move {
  transition: transform 0.3s;
}
.move-icon {
  width: 2.8rem;
  height: 2.8rem;
  padding: 10px;
  cursor: move;
}
// override form style
.form-control {
  color: #000 !important;
}
.form-row .custom-file-label {
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: normal;
  overflow: hidden;
}
.custom-file-label::after {
  content: "瀏覽";
}
// custom form style
.limit-hint {
  small {
    text-align: right;
  }
  // input:not(:focus) ~ small,
  // textarea:not(:focus) ~ small {
  //   visibility: hidden;
  // }
}
